body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('img/arkaplan.png'); /* Arka plan resmi */
  background-size: cover; /* Ekranı kaplasın */
  background-position: center; /* Ortalanmış şekilde göster */
  background-repeat: no-repeat; /* Tekrarlanmasın */
}
